atomicwrites==1.2.1
attrs==18.2.0
more-itertools==5.0.0
numpy==1.14.5
pathlib2==2.3.3
Pillow==5.4.1
pluggy==0.8.1
py==1.7.0
pyamg==3.3.2
pytest==4.1.1
scipy==1.2.0
six==1.12.0
torch==1.0.0
torchvision==0.2.1
tqdm==4.29.1
